body{
    text-align: center;
    background-image: url("../images/background.jpg");
}

button {
    margin-top: 30px;
    width: 200px;
}

iframe {
    width: 800px;
    height: 600px;
}

/* img {
    margin: 0 auto;
} */